.box {
    width: 50%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid gray;
    background: #6400f2;
    box-shadow: black 5px 2px 5px;
}
input , textarea, select{
    border-radius: 7px;
    margin: 5px;
    padding: 2px;
}