<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login Form</title>
</head>
<body>
<center>
    <b>Login Form</b>
    <hr>
    <form action="" method="post">
        <label for="username">Username : </label>
        <input id="username" type="text" placeholder="Enter Username" name="username" required><br>

        <label for="password">Password : </label>
        <input id="password" type="password" placeholder="Enter Password" name="password" required><br>

        <input type="submit" value="Sign in">
        <input type="reset" value="Reset">
    </form>
</center>
</body>
</html>