{% extends "base.html" %}
{% block title %}ورود{% endblock %}
{% block bootstrap %}{{ super() }}{% endblock %}
{% block extra_head %}
    {{ super() }}

    <style>
    .valid-feedback,
    .invalid-feedback {
        text-align: right;
    }

    .card {
        margin: 0.5rem auto;
    }

    .card-body {
        margin: 50px auto;
        padding: 0 1rem;
    }

    .custom-control.custom-checkbox {
        padding-left: 0;
        text-align: right;
    }

    label.custom-control-label {
        position: relative;
        padding-right: 1.5rem;
    }

    label.custom-control-label::before,
    label.custom-control-label::after {
        right: 0;
        left: auto;
    }

    strong {
        display: block;
        color: #018bdb;
        margin: 45px 45px 20px 20px;
        font-size: 35px;
        text-align: center;
        text-shadow: 0 1px 0 #000;
    }

    </style>

{% endblock %}
{% block content %}
    <div class="container">
        <center class="card">
            <form action="{{ url_for('login') }}" method="POST">
                <center class="card-header">
                    <h1><strong>ورود</strong></h1>
                </center>
                <div class="card-body">
                    <div class="form-group was-validated">
                        <!-- <label for="national"><i class="gb gb_nature_people"></i></label> -->
                        <input type="text" class="form-control" id="national" placeholder="کد ملی" name="national"
                               minlength="10" maxlength="10" required>
                        <div class="valid-feedback">صحیح</div>
                        <div class="invalid-feedback">نامعتبر(دقیقا &#1776 &#1777 رقم)</div>
                    </div>
                    <div class="form-group was-validated">
                        <!-- <label for="password"><i class="gb gb_vpn_key"></i></label> -->
                        <input class="form-control" id="password" type="password" placeholder="رمز عبور" name="password"
                               required>
                        <div class="valid-feedback">صحیح</div>
                        <div class="invalid-feedback">لطفا رمز عبور خود را وارد نمایید</div>
                    </div>
                    <!-- <select name="post" class="custom-select mb-3">
                            <option selected>لطفا سِمَت خود را انتخاب نمایید</option>
                            <option value="patient">بیمار</option>
                            <option value="doctor">دکتر</option>
                        </select> -->
                    <div class="custom-control custom-checkbox mb-3">
                        <input type="checkbox" class="custom-control-input" id="remember" name="remember">
                        <label class="custom-control-label" for="remember">مرا بخاطر بسپار</label>
                    </div>
                    <center>
                        <button type="submit" class="btn btn-submit">ورود</button>
                        <button type="reset" class="btn btn-reset">پاکسازی</button>
                        <a class="d-block mr-4 pr-4" href="{{ url_for('register') }}">کاربر جدید هستید؟ ثبت نام</a>
                    </center>
                </div>
            </form>
        </div>
    </div>
{% endblock %}