<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Register Form</title>
    </head>
    <body>
    <center>
        <b>Register Form</b>
        <hr>
        <form action="#" method="post">
            <label for="username">Username : </label>
            <input id="username" type="text" placeholder="Enter Username" name="username" required><br>

            <label for="password">Password : </label>
            <input id="password" type="password" placeholder="Enter Password" name="password" required><br>

            <label for="phone">Phone : </label>
            <input id="phone" type="tel" placeholder="Enter Phonenumber" name="phone" required><br>

            <label for="national">National Code : </label>
            <input id="national" type="text" placeholder="Enter National Code" name="national" required><br>

            <label for="email">Email : </label>
            <input id="email" type="text" placeholder="Enter Email Address" name="email" required><br>

            <input type="submit" value="Sign up">
            <input type="reset" value="Reset">
            </form>
        </center>
    </body>
</html>