{% extends "base.html" %}
{% block title %}نتیجه آزمایش{% endblock %}
{% block extra_head %}
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://v1.fontapi.ir/css/Vazir" rel="stylesheet">
    <style>
        * {
            font-family: Vazir, sans-serif;
            direction: rtl !important;
        }

        .rtl {
            direction: rtl !important;
        }

        .ltr {
            direction: ltr !important;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="w-7/12 bg-white mx-auto">
        <h1 class="block mt-8 text-4xl rounded bg-red-400 text-white font-bold py-4 px-8 text-center">همه آزمایش
            ها</h1>
        <hr class="opacity-40 my-4 w-full">
        <div class="bg-grey-200 text-black p-8 px-10 rounded-b-r rounded-b-l">
        <ul class="list-decimal p-4 pr-8 rtl">
            {% for test in tests %}
                <li class="opacity-50 my-4 p-0 text-right hover:opacity-100 transition-all text-xl hover:font-bold pr-1 relative">
                    <a class="w-full py-1 block" href='{{ url_for("test_result", test_id=test[0]) }}'>
                        <span class="absolute left-0 text-gray-600 text-sm pt-1">
                            <i class="gb gb_date_range ml-1 mb-1" style="font-size: 22px"></i>
                            {{ test[7] }}
                        </span>
                        {{ test[5] }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        </div>
    </div>
{% endblock %}